/* Style the entire page */
body {
    background-image: url("../images/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Style the header */
h1 {
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Rock Salt', cursive; */
    font-size: 56px;
    padding: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

/* Style the instructions or user specific greeting */
h4 {
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Nanum Pen Script', cursive;
    font-size: 28px;
    color: whitesmoke;
}

/* Style the form */
.form-control {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: auto;
}

#name {
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}

#city {
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}

#country {
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);

}

/* Style the Submit button */
.btn {
    /* font-family: 'Open Sans Condensed', sans-serif; */
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'IBM Plex Mono', monospace; */
    /* font-family: 'Faster One', cursive; */
    background-color: rgba(0, 0, 0, 0.671);
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 5px;
    width: 100px;
    text-align: center;

}



/* Margins on the form */
.userInputForm {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

/* Style the table */
.card {
    background: rgba(245, 243, 243, 0.8);
    max-width: 80%;
    margin: 15px auto 15px auto;
}
.card-header {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Oswald', sans-serif;
}

.card-body {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Footer Styling */
.footer {
    text-align: center;
    bottom: 0;
    background-color: rgba(0, 0, 8, 0.541);
    display: block;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Monoton', cursive;
    font-size: 8px;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-right: 5px;
}

.link {
    color: whitesmoke;
}

.link:hover {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    padding-bottom: 2px;
}

.push .footer {
    height: 30px;
}

.custom-input-width{
    width: 700px;
}

