/* Style the entire page */
body {
    background-image: url("../images/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Style the header */
h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Style the instructions or user specific greeting */
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

/* Style the form */
.form-control {
    font-family: 'Open Sans Condensed', sans-serif;
}

#name {
    background: rgba(255, 255, 255, 0.8);
}

#city {
    background: rgba(255, 255, 255, 0.8);
}

#country {
    background: rgba(255, 255, 255, 0.8);
}

/* Style the Submit button */
.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(13, 13, 46);
    color: white;
}

.btn:hover {
    background-color: white;
    color: rgba(13, 13, 46);
}

/* Margins on the form */
.userInputForm {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

/* Style the table */
.card {
    background: rgba(245, 243, 243, 0.8);
    max-width: 80%;
    margin: 15px auto 15px auto;
}
.card-header {
    font-family: 'Montserrat', sans-serif;
}

.card-body {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Footer Styling */
.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 8, 0.541);
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

.link {
    color: white;
}

.link:hover {
    text-decoration: none;
}